@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.apresetation__conteudo__titulo {
    font-family: "Krona One", serif;
}


.apresetation__conteudo__titulo__texto-destaque {
    color: #22d4fd;
}

.apresetation__conteudo__titulo__texto {
    color: #F6F6F6;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;

}

.apresetation__conteudo__titulo__texto-importante {
    color: crimson;
}

.apresetation {
    margin: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresetation__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.apresetation__conteudo__titulo {
    font-size: 26px;
}


.apresetation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.apresetation__conteudo__titulo__titulo-button {
    color: white;
    width: 190px;
    text-align: center;
    font-size: 15px;
    font-weight: 400px;
    padding: 20px 0;
    font-family: "Krona One", serif;
}

.apresetation__links__buttons {
    border: 6px double #22d4fd;
    font-size: 15px;
    display: flex;
    justify-content: center;
    gap: 16px;
    color: white;
    width: 260px;
    text-align: center;
    border-radius: 8px;
    font-family: 24px;
    font-weight: 400;
    padding: 6px 0px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;

}

.apresetation__links__buttons:hover {
    background-color: #252525;
}

.card-principal {
    display: flex;
    border-radius: 10%;
    border: 6px double #22d4fd;

}


.rodape {
    display: flex;
    justify-content: center;
    color: #000000;
    background-color: #22d4fd;
    font-family: "Montserrat", sans-serif;
    padding: 24px;


}