* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: aqua
}

.texto-destaque {
    color: white;
}

.texto-importante {
    color: crimson;
}

.apresetation {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresetation__conteudo {
    width: 615px;
}

.apresetation__conteudo__titulo {
    font-size: 36px;
}