@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.apresetation__conteudo__titulo {
    font-family: "Krona One", serif;
}


.apresetation__conteudo__titulo__texto-destaque {
    color: blue;
}

.apresetation__conteudo__titulo__texto {
    color: #F6F6F6;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;

}

.apresetation__conteudo__titulo__texto-importante {
    color: crimson;
}

.apresetation {
    margin: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresetation__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresetation__conteudo__titulo {
    font-size: 36px;
}


.apresetation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.apresetation__links__buttons {
    background-color: #22d4fd;
    color: #000000;
    width: 190px;
    text-align: center;
    border-radius: 16px;
    font-family: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;

}

.card-principal {
    display: flex;
    border-radius: 25%;
}

.apresetation__conteudo__titulo__titulo-button {
    color: white;
    width: 190px;
    text-align: center;
    font-family: 22px;
    font-weight: 600;
    padding: 21.5px 0;
    font-family: "Krona One", serif;



}