@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #000B58;
    --cor-secundaria: #FFF2F2;
    --cor-terciaria: #7886C7;
    --cor-hover: #A9B5DF;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 1% 0 0% 12%;
    background-color: var(--cor-terciaria);

}

.cabecalho__menu {
    display: flex;
    gap: 40px;
    padding: 0% 0% 0% 0%;
}


.cabecalho__menu__links {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}

.apresetation__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.62rem;

}

.apresetation__conteudo__titulo__texto-destaque {
    color: var(--cor-terciaria)
}

.apresetation__conteudo__titulo__texto {
    color: var(--cor-secundaria);
    font-size: 1.1rem;
    font-family: var(--fonte-secundaria);
}

.apresetation__conteudo__titulo__texto-importante {
    color: crimson;
}

.apresetation {
    padding: 4% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.apresetation__conteudo {
    display: flex;
    width: 615px;
    flex-direction: column;
    gap: 15px;

}

.apresetation__links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;


}

.apresetation__conteudo__titulo__titulo-button {
    color: var(--cor-secundaria);
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400px;
    padding: 15% 0% 0% 0%;
    font-family: var(--fonte-primaria)
}

.apresetation__links__buttons {
    display: flex;
    box-sizing: border-box;
    border: 6px double var(--cor-terciaria);
    font-size: 1rem;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    width: auto;
    max-width: 3rem;
    border-radius: 8px;
    font-weight: 400;
    padding: 5px 5px;
    text-decoration: none;
    font-family: var(--fonte-secundaria)
}

.apresetation__links__buttons:hover {
    background-color: var(--cor-hover);
}


.curriculo__titulos {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
}

.curriculo__titulos__textos {
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
}

.card-principal {
    width: 40%;
    border-radius: 10%;
    border: 6px double var(--cor-terciaria);

}

.rodape {
    display: flex;
    justify-content: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    padding: 1%;
    font-weight: 400;
}

/* |||||||||DAQUI PRA BAIXO É SÓ RESPONSIVIDADE||||||||||| */

@media (max-width: 770px) {
    .cabecalho {
        padding: 1%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresetation {
        flex-direction: column-reverse;
        padding: 5% 5% 5% 5%;
    }

    .apresetation__conteudo {
        width: auto;
    }

    .apresetation__conteudo__titulo {
        text-align: center;
    }

    .card-principal {
        width: 30%;
    }

    .apresetation__conteudo__titulo__titulo-button {
        text-align: center;
        width: 100%;
    }

    .apresetation__links {
        justify-content: center;
    }

}