@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #000B58;
    --cor-secundaria: #FFF2F2;
    --cor-terciaria: #7886C7;
    --cor-hover: #A9B5DF;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 1% 0 0% 12%;
    background-color: var(--cor-terciaria);

}

.cabecalho__menu {
    display: flex;
    gap: 40px;
    padding: 0% 0% 2dvb 0%;
}


.cabecalho__menu__links {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}

.apresetation__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 26px;

}

.apresetation__conteudo__titulo__texto-destaque {
    color: var(--cor-terciaria)
}

.apresetation__conteudo__titulo__texto {
    color: var(--cor-secundaria);
    font-size: 18px;
    font-family: var(--fonte-secundaria);
}

.apresetation__conteudo__titulo__texto-importante {
    color: crimson;
}

.apresetation {
    padding: 4% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresetation__conteudo {
    display: flex;
    width: 615px;
    flex-direction: column;
    gap: 15px;

}

.apresetation__links {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

.apresetation__conteudo__titulo__titulo-button {
    color: var(--cor-secundaria);
    width: 220px;
    text-align: center;
    font-size: 15px;
    font-weight: 400px;
    padding: 5px 0;
    font-family: var(--fonte-primaria)
}

.apresetation__links__buttons {
    display: flex;
    border: 6px double var(--cor-terciaria);
    font-size: 15px;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    width: 30px;
    border-radius: 8px;
    font-weight: 400;
    padding: 6px 0px;
    text-decoration: none;
    font-family: var(--fonte-secundaria)
}

.apresetation__links__buttons:hover {
    background-color: var(--cor-hover);
}

.card-principal {
    display: flex;
    border-radius: 10%;
    border: 6px double var(--cor-terciaria);

}

.curriculo__titulos {
    font-family: var(--fonte-primaria);
    font-size: 15px;
}

.curriculo__titulos__textos {
    color: var(--cor-secundaria);
    font-size: 15px;
    font-family: var(--fonte-secundaria);
}

.rodape {
    display: flex;
    justify-content: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    padding: 15px;
    font-weight: 400;
}